<calcite-card>
    <span slot="heading">City-owned golf courses</span>
    <span slot="description">Department of Recreation - Municipality of Acme</span>
    <div slot="footer-start">
        <calcite-chip value="calcite chip" kind="brand" icon="clock-forward">
            Recent
        </calcite-chip>
    </div>
    <div slot="footer-end">
        <calcite-chip value="calcite chip" icon="walking">
            Recreation
        </calcite-chip>
    </div>
</calcite-card>
<calcite-card>
    <span slot="heading">City-owned golf courses</span>
    <span slot="description">Department of Recreation - Municipality of Acme</span>
    <div slot="footer-start">
        <calcite-chip value="calcite chip" kind="brand" icon="clock-forward">
            Recent
        </calcite-chip>
    </div>
    <div slot="footer-end">
        <calcite-chip value="calcite chip" icon="walking">
            Recreation
        </calcite-chip>
    </div>
</calcite-card>
<calcite-card>
    <span slot="heading">City-owned golf courses</span>
    <span slot="description">Department of Recreation - Municipality of Acme</span>
    <div slot="footer-start">
        <calcite-chip value="calcite chip" kind="brand" icon="clock-forward">
            Recent
        </calcite-chip>
    </div>
    <div slot="footer-end">
        <calcite-chip value="calcite chip" icon="walking">
            Recreation
        </calcite-chip>
    </div>
</calcite-card>
<calcite-card>
    <span slot="heading">City-owned golf courses</span>
    <span slot="description">Department of Recreation - Municipality of Acme</span>
    <div slot="footer-start">
        <calcite-chip value="calcite chip" kind="brand" icon="clock-forward">
            Recent
        </calcite-chip>
    </div>
    <div slot="footer-end">
        <calcite-chip value="calcite chip" icon="walking">
            Recreation
        </calcite-chip>
    </div>
</calcite-card>
<calcite-card>
    <span slot="heading">City-owned golf courses</span>
    <span slot="description">Department of Recreation - Municipality of Acme</span>
    <div slot="footer-start">
        <calcite-chip value="calcite chip" kind="brand" icon="clock-forward">
            Recent
        </calcite-chip>
    </div>
    <div slot="footer-end">
        <calcite-chip value="calcite chip" icon="walking">
            Recreation
        </calcite-chip>
    </div>
</calcite-card>
<calcite-card>
    <span slot="heading">City-owned golf courses</span>
    <span slot="description">Department of Recreation - Municipality of Acme</span>
    <div slot="footer-start">
        <calcite-chip value="calcite chip" kind="brand" icon="clock-forward">
            Recent
        </calcite-chip>
    </div>
    <div slot="footer-end">
        <calcite-chip value="calcite chip" icon="walking">
            Recreation
        </calcite-chip>
    </div>
</calcite-card>
<calcite-card>
    <span slot="heading">City-owned golf courses</span>
    <span slot="description">Department of Recreation - Municipality of Acme</span>
    <div slot="footer-start">
        <calcite-chip value="calcite chip" kind="brand" icon="clock-forward">
            Recent
        </calcite-chip>
    </div>
    <div slot="footer-end">
        <calcite-chip value="calcite chip" icon="walking">
            Recreation
        </calcite-chip>
    </div>
</calcite-card>
<calcite-card>
    <span slot="heading">City-owned golf courses</span>
    <span slot="description">Department of Recreation - Municipality of Acme</span>
    <div slot="footer-start">
        <calcite-chip value="calcite chip" kind="brand" icon="clock-forward">
            Recent
        </calcite-chip>
    </div>
    <div slot="footer-end">
        <calcite-chip value="calcite chip" icon="walking">
            Recreation
        </calcite-chip>
    </div>
</calcite-card>